@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #fff9f9; /* cute-bg */
  color: #5a4a6e; /* cute-text */
}

@layer utilities {
  .text-cute-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-400 to-purple-400;
  }
}
